@use '../base/colors' as c;
@use '../base/mixins' as m;


.main {
	@apply container;
	margin-inline: auto;

	@include m.theme-mode(
		$bg-light: c.$background-base-light,
		$bg-dark: c.$background-base-dark
	);
	
	&__wrapper {
		min-height: 95svh;
		padding-top: 2rem;
		padding-bottom: 1rem;
		@include m.container-padding;
	}
}

