@use "../base/colors" as c;
@use "../base/variables" as v;
@use "../base/mixins" as m;

@layer components {
  .btn {
    display: inline-flex;
    align-items: center;
    text-align: center;
    position: relative;
    user-select: none;
    overflow: hidden;
    border-radius: v.$border-radius-default;
    padding: 0.75rem 1rem;
    font-weight: bold;
    cursor: pointer;
    transition-property: color, background-color;
    transition-duration: 150ms;

    &--primary {
			color: c.$font-dark;
			@include m.background-gradient-primary;
      transition: box-shadow 0.2s ease-in-out;

      &:hover {
        @apply shadow shadow-primary-dark;
      }
    }

		&--primary-text {
			color: c.$primary;
			&:hover {
				color: c.$font-dark;
				@include m.background-gradient-primary;
			}
		}

    &--primary-outlined {
      border-width: 2px;
      border-color: c.$primary;
      color: c.$primary;
      &:hover {
				color: c.$font-dark;
				@include m.background-gradient-primary;
      }
    }
  }
}
