$primary-light: theme('colors.primary.light');
$primary: theme('colors.primary.DEFAULT');
$primary-dark: theme('colors.primary.dark');

$secondary-light: theme('colors.secondary.light');
$secondary: theme('colors.secondary.DEFAULT');
$secondary-dark: theme('colors.secondary.dark');

$font-light: theme('colors.font.light');
$font-dark: theme('colors.font.dark');

$background-base-light: theme('colors.backgroundBase.light');
$background-base-dark: theme('colors.backgroundBase.dark');

$background-light: theme('colors.background.light');
$background-dark: theme('colors.background.dark');

:export {
  primaryLight: $primary-light;
  primary: $primary;
  primaryDark: $primary-dark;
  secondaryLight: $secondary-light;
  secondary: $secondary;
  secondaryDark: $secondary-dark;
  fontLight: $font-light;
  fontDark: $font-dark;
  backgroundBaseLight: $background-base-light;
  backgroundBaseDark: $background-base-dark;
  backgroundLight: $background-light;
  backgroundDark: $background-dark;
}
