@use '../base/colors' as c;
@use '../base/variables' as v;
@use '../base/mixins' as m;

.article_teaser {
  display: grid;
  border-radius: v.$border-radius-default;
  @apply shadow-md;

  @include m.background-gradient;

  @screen md {
    grid-template-columns: 2fr 3fr;
    grid-template-rows: subgrid;
    grid-row: span 4;
    width: calc(100% - 1.5rem);
    margin-left: 1.5rem;
  }

  &__image {
    display: flex;
    align-items: center;
    * {
      width: 100%;
      height: 300px;
      object-fit: cover;
      border-radius: v.$border-radius-default;
    }

    &_wrapper {
      @apply shadow-md;
      @screen md {
        position: relative;
        left: -1.5rem;
        top: -0.5rem;
      }
    }

    @screen md {
      grid-row: 1/5;
    }
  }

  &__body {
    display: grid;
    row-gap: 1rem;
    padding: 1rem;

    @screen md {
      padding-left: 0;
      display: grid;
      grid-template-rows: subgrid;
      row-gap: 0.5rem;
      grid-row: 1/5;
    }
  }

  &__title {
    @screen md {
      grid-row: 1/2;
    }
  }

  &__text {
    display: none;

    @screen sm {
      display: block;
      p {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
      }
    }
    @screen md {
      grid-row: 2/3;
    }
  }

  &__footer {
    display: grid;
    row-gap: 1rem;
    @screen md {
      grid-row: 3/5;
      display: grid;
      grid-template-rows: subgrid;
      row-gap: 1rem;
    }
  }

  &__tags {
    height: fit-content;
    @screen md {
      grid-row: 1/2;
    }
  }

  &__links {
    @screen md {
      grid-row: 2/3;
    }
    a {
      @apply btn btn--primary-outlined;
      width: 100%;
      justify-content: center;
    }
  }
}
